@model IEnumerable<AnabiaOnline.Models.Country>

@{
    ViewBag.Title = "CountryIndex";
    Layout = "~/Views/Shared/dashboard.cshtml";
}

<h2>CountryIndex</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Con_Name)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Con_Name)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.CountryId }) |
            @Html.ActionLink("Details", "Details", new { id=item.CountryId }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.CountryId })
        </td>
    </tr>
}

</table>
