@model IEnumerable<AnabiaOnline.Models.addtocard>
@{
    ViewBag.Title = "Addtocart";
    Layout = "~/Views/Shared/UserView.cshtml";
}

<div class="container-fluid">
    <div class="row px-xl-5">
        <div class="col-lg-8 table-responsive mb-5">
            <table class="table table-light table-borderless table-hover text-center mb-0">
                <thead class="thead-dark">
                    <tr>
                        <th>Products</th>
                        <th>Price</th>
                        <th>Quantity</th>

                        <th>Total</th>
                        <th>Remove</th>
                    </tr>
                </thead>
                <tbody class="align-middle">
                    @if (Session["cart"] as List<AnabiaOnline.Models.addtocard> == null)
                    {

                    }
                    else
                    {


                        foreach (var item in Session["cart"] as List<AnabiaOnline.Models.addtocard>)
                        {



                    <tr>
                        <td class="align-middle"><img src="img/product-1.jpg" alt="" style="width: 50px;"> @item.Pro_Name</td>
                        <td class="align-middle">$@item.Pro_Price</td>
                        <td class="align-middle">
                            <div class="input-group quantity mx-auto" style="width: 100px;">

                                @item.Ord_Quantity

                            </div>
                        </td>
                        <td class="align-middle">Rs @item.Ord_Bill</td>

                        <td>
                            <form action="RemoveCart" method="post">
                                <input type="hidden" name="pid" value="@item.Pro_Id" />
                                <input type="hidden" name="qty" value="@item.Ord_Quantity" />
                           
                                <button type="submit" class="btn btn-sm btn-danger"><i class="fa fa-times"></i></button>
                            </form>
                            </td>        
                        
                    </tr>
                        }

                    }
                </tbody>
            </table>
        </div>
        <div class="col-lg-4">
            
            <h5 class="section-title position-relative text-uppercase mb-3"><span class="bg-secondary pr-3">Cart Summary</span></h5>
            <div class="bg-light p-30 mb-5">
                <div class="border-bottom pb-2">
                    <div class="d-flex justify-content-between mb-3">
                        <h6>Subtotal</h6>
                        <h6>Rs @Session["SubTotal"]</h6>
                    </div>
                    <div class="d-flex justify-content-between">
                        <h6 class="font-weight-medium">Shipping</h6>
                        <h6 class="font-weight-medium">Rs @Session["Shipping"]</h6>
                    </div>
                </div>
                <div class="pt-2">
                    <div class="d-flex justify-content-between mt-2">
                        <h5>Total</h5>
                        <h5>Rs @Session["Total"]</h5>
                    </div>
                    <a class="btn btn-block btn-primary font-weight-bold my-3 py-3" href="~/Store/CheckOut">Proceed To Checkout</a>
                </div>
            </div>
        </div>
    </div>
</div>
