@model IEnumerable<AnabiaOnline.Models.Store>
@{
    ViewBag.Title = "Home";
    Layout = "~/Views/Shared/UserView.cshtml";
}


<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Message</h5>

            </div>
            <div class="modal-body">
                <p style="text-align: center;">Thank You For Oder</p>
            </div>
            <div class="modal-footer">
                <button type="button" id="closebtn" class="btn btn-secondary" data-dismiss="modal">Close</button>

            </div>
        </div>
    </div>
</div>

<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
<script>

    $("#closebtn").click(function (e) {
        $('#exampleModal').modal('hide');

    });

</script>

@if (TempData["Massages"] != null)
{
    <script>
        $(document).ready(function () {
            $('#exampleModal').modal('show');
        });


    </script>

}
<!-- Carousel Start -->
<div class="container-fluid mb-3">
    <div class="row px-xl-5">
        <div class="col-lg-8">
            <div id="header-carousel" class="carousel slide carousel-fade mb-30 mb-lg-0" data-ride="carousel">

                <div class="carousel-inner">
                    <div class="carousel-item position-relative active" style="height: 430px;">
                        @foreach (var item in Model)
                        {
                            foreach (var sw in item.StoreWebs)
                            {
                                <img class="position-absolute w-100 h-100" src="~/UserAsset/img/ProductImages/@sw.StoreBanner1" style="object-fit: cover;">
                            }


                        }



                        <div class="carousel-caption d-flex flex-column align-items-center justify-content-center">
                            <div class="p-3" style="max-width: 700px;">

                                @foreach (var item in Model)
                                {
                                    <h1 style="text-transform:uppercase;" class=" display-4 text-white mb-3 animate__animated animate__fadeInDown">@item.BusinessName</h1>


                                }


                                <a class="btn btn-outline-primary py-2 px-4 mt-3 animate__animated animate__fadeInUp" href="#">Shop Now</a>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
        <div class="col-lg-4">
            <div class="product-offer mb-30" style="height: 200px;">
                @foreach (var item in Model)
                {
                    foreach (var sw in item.StoreWebs)
                    {
                        <img class="position-absolute w-100 h-100" src="~/UserAsset/img/ProductImages/@sw.StoreBanner2" style="object-fit: cover;">
                    }


                }

                <div class="offer-text">
                    <h3 class="text-white mb-3">Special Offer</h3>
                    <a href="" class="btn btn-primary">Shop Now</a>
                </div>
            </div>
            <div class="product-offer mb-30" style="height: 200px;">
                @foreach (var item in Model)
                {
                    foreach (var sw in item.StoreWebs)
                    {
                        <img class="img-fluid" src="~/UserAsset/img/ProductImages/@sw.StoreBanner3" style="object-fit: cover;">
                    }


                }

                <div class="offer-text">
                    <h3 class="text-white mb-3">Special Offer</h3>
                    <a href="" class="btn btn-primary">Shop Now</a>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Carousel End -->
<!-- Featured Start -->
<div class="container-fluid pt-5">
    <div class="row px-xl-5 pb-3">
        <div class="col-lg-3 col-md-6 col-sm-12 pb-1">
            <div class="d-flex align-items-center bg-light mb-4" style="padding: 30px;">
                <h1 class="fa fa-check text-primary m-0 mr-3"></h1>
                <h5 class="font-weight-semi-bold m-0">Quality Product</h5>
            </div>
        </div>
        <div class="col-lg-3 col-md-6 col-sm-12 pb-1">
            <div class="d-flex align-items-center bg-light mb-4" style="padding: 30px;">
                <h1 class="fa fa-shipping-fast text-primary m-0 mr-2"></h1>
                <h5 class="font-weight-semi-bold m-0">Free Shipping</h5>
            </div>
        </div>
        <div class="col-lg-3 col-md-6 col-sm-12 pb-1">
            <div class="d-flex align-items-center bg-light mb-4" style="padding: 30px;">
                <h1 class="fas fa-exchange-alt text-primary m-0 mr-3"></h1>
                <h5 class="font-weight-semi-bold m-0">14-Day Return</h5>
            </div>
        </div>
        <div class="col-lg-3 col-md-6 col-sm-12 pb-1">
            <div class="d-flex align-items-center bg-light mb-4" style="padding: 30px;">
                <h1 class="fa fa-phone-volume text-primary m-0 mr-3"></h1>
                <h5 class="font-weight-semi-bold m-0">24/7 Support</h5>
            </div>
        </div>
    </div>
</div>
<!-- Featured End -->
<!-- Products Start -->
<div class="container-fluid pt-5 pb-3">
    <h2 class="section-title position-relative text-uppercase mx-xl-5 mb-4"><span class="bg-secondary pr-3">Featured Products</span></h2>
    <div class="row px-xl-5">

        @foreach (var item in Model)
        {
            foreach (var pd in item.Products)
            {
                if (pd.ProductStatus == 1)
                {



                    <div class="col-lg-3 col-md-4 col-sm-6 pb-1">
                        <div class="product-item bg-light mb-4">
                            <div class="product-img position-relative overflow-hidden" style="height:230px;">

                                <img class="img-fluid w-100" src="~/UserAsset/img/ProductImages/@pd.ProductImage">


                                <div class="product-action">

                                    <form action="" method="post">

                                        <button class="btn btn-outline-dark btn-square" name="id" value="@pd.ProductID"> <i class="fa fa-shopping-cart"></i>   </button>
                                    </form>
                                    <a class="btn btn-outline-dark btn-square" href=""><i class="far fa-heart"></i></a>
                                    <a class="btn btn-outline-dark btn-square" href=""><i class="fa fa-sync-alt"></i></a>
                                    <a class="btn btn-outline-dark btn-square" href=""><i class="fa fa-search"></i></a>
                                </div>
                            </div>
                            <div class="text-center py-4">
                                <a class="h6 text-decoration-none text-truncate" href=""></a>
                                <div class="d-flex align-items-center justify-content-center mt-2">

                                    <h5>Rs @pd.Price</h5><h6 class="text-muted ml-2"></h6>


                                </div>
                                <div class="d-flex align-items-center justify-content-center mb-1">
                                    @if (pd.ProductStockStatus == 1)
                                    {
                                        <div style="background-color:blue; border-radius:50px;padding:2px 5px 2px 5px;">
                                            <small class="text-white fx-5">InStock</small>
                                        </div>

                                    }
                                    else
                                    {
                                        <div style="background-color:red; border-radius:50px;padding:2px 5px 2px 5px;">
                                            <small class="text-white fx-5">OutStock</small>
                                        </div>
                                    }
                                </div>
                            </div>
                        </div>
                    </div>
                }
            }
        }
    </div>
</div>
<!-- Products End -->
<!-- Offer Start -->
<div class="container-fluid pt-5 pb-3">
    <div class="row px-xl-5">
        <div class="col-md-6">
            <div class="product-offer mb-30" style="height: 300px;">

                @foreach (var item in Model)
                {
                    foreach (var pm in item.StoreWebs)
                    {
                        <img class="img-fluid" src="~/UserAsset/img/ProductImages/@pm.StoreBanner3" alt="">
                    }


                }  <div class="offer-text">

                    <h3 class="text-white mb-3">Special Offer</h3>
                    <a href="" class="btn btn-primary">Shop Now</a>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="product-offer mb-30" style="height: 300px;">
                @foreach (var item in Model)
                {
                    foreach (var pm in item.StoreWebs)
                    {
                        <img class="img-fluid" src="~/UserAsset/img/ProductImages/@pm.StoreBanner2" alt="">
                    }


                }
                <div class="offer-text">
                    <h3 class="text-white mb-3">Special Offer</h3>
                    <a href="" class="btn btn-primary">Shop Now</a>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Offer End -->
<!-- Products Start -->
<div class="container-fluid pt-5 pb-3">
    <h2 class="section-title position-relative text-uppercase mx-xl-5 mb-4"><span class="bg-secondary pr-3">Resent Products</span></h2>
    <div class="row px-xl-5">

        @foreach (var item in Model)
        {
            foreach (var pd in item.Products)
            {
                if (pd.ProductStatus == 1)
                {



                    <div class="col-lg-3 col-md-4 col-sm-6 pb-1">
                        <div class="product-item bg-light mb-4">
                            <div class="product-img position-relative overflow-hidden" style="height:230px;">

                                <img class="img-fluid w-100" src="~/UserAsset/img/ProductImages/@pd.ProductImage">


                                <div class="product-action">

                                    <form action="" method="post">

                                        <button class="btn btn-outline-dark btn-square" name="id" value="@pd.ProductID"> <i class="fa fa-shopping-cart"></i>   </button>
                                    </form>
                                    <a class="btn btn-outline-dark btn-square" href=""><i class="far fa-heart"></i></a>
                                    <a class="btn btn-outline-dark btn-square" href=""><i class="fa fa-sync-alt"></i></a>
                                    <a class="btn btn-outline-dark btn-square" href=""><i class="fa fa-search"></i></a>
                                </div>
                            </div>
                            <div class="text-center py-4">
                                <a class="h6 text-decoration-none text-truncate" href=""></a>
                                <div class="d-flex align-items-center justify-content-center mt-2">

                                    <h5>Rs @pd.Price</h5><h6 class="text-muted ml-2"></h6>


                                </div>
                                <div class="d-flex align-items-center justify-content-center mb-1">
                                    @if (pd.ProductStockStatus == 1)
                                    {
                                        <div style="background-color:blue; border-radius:50px;padding:2px 5px 2px 5px;">
                                            <small class="text-white fx-5">InStock</small>
                                        </div>

                                    }
                                    else
                                    {
                                        <div style="background-color:red; border-radius:50px;padding:2px 5px 2px 5px;">
                                            <small class="text-white fx-5">OutStock</small>
                                        </div>
                                    }
                                </div>
                            </div>
                        </div>
                    </div>
                }
            }
        }
    </div>
</div>

<!-- Products End -->
<!-- Vendor Start -->
<div class="container-fluid py-5">
    <div class="row px-xl-5">
        <div class="col">
            <div class="owl-carousel vendor-carousel">
                @if (Session["Logo"] as List<AnabiaOnline.Models.logo> != null)
                {
                    foreach (var item in Session["Logo"] as List<AnabiaOnline.Models.logo>)
                    {



                        <div class="bg-light p-4">
                            <img src="~/UserAsset/img/ProductImages/@item.Logo1" alt="">
                        </div>



                    }
                }
                else
                {
                    <p> NO Logo</p>
                }


            </div>
        </div>
    </div>
</div>
<!-- Vendor End -->